*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


header{
    background-color: cyan;
    display: flex;
    flex-wrap: wrap;
}

.w50{
    width:50%;
    padding:0 10px;
}

.menu{text-align: right;}

section.banner{
    width:100%;
    min-height: 500px;
    background-color:darkblue;
    text-align: center;
    padding:90px 0;
    color:white;
}

section.diferenciais{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding:20px 0;
}

.w33{
    width:33.3%;
    padding:0 10px;
}

footer{
    position: fixed;
    bottom:0;
    width:100%;
    text-align: center;
    background-color:darkorchid;
}

@media screen and (max-width: 768px){
    header{
        text-align: center;
    }
    .menu{
        text-align: center;
    }
    .w33,.w50{
        width:100%;
        margin-bottom: 20px;
    }
}