*{
   
    margin: center;
    font-family: 'Lato', sans-serif;
    text-decoration:none;   
    color: white;

}
.azul{
   color: rgb(187, 158, 253) !important;
}
  body{
      margin: auto;
      background-image:url(BACk.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     
  }
  .delta{
    width: 300px !important; 
    font-size: 25px;
      }
    
       

  .deltacore{
      margin-top: auto
  }
  .galeria{
     
    margin:auto
     
      
      
     
      width: 100%
            

      
     
      


  }
  .text{
      
      color: rgb(253, 158, 234) !important;
      }


      ul{
          color: rgb(253, 158, 234) !important;
      }